<!DOCTYPE html>
<html>
<body>
    <h3>Name:</h3><span>{{.Name}}</span><br/><br/>
    {{ range .Message }}
        <strong>{{.Symbol}} {{.Option}} Difference : {{.Difference}} Signal : {{.Signal}}</strong>
        <table>
            <colgroup>
                <col span="1" style="width: 40%;">
                <col span="1" style="width: 40%;">                             
            </colgroup>
            <tr>
              <th>Strike</th>
              <th>LTP</th>              
            </tr>            
              {{ range $idx,$price := .Q }}
              <tr>
                {{ range $strikePrice,$ltp := $price }}
                  <td style="text-align:center">{{$strikePrice}}</td>
                  <td style="text-align:center">{{$ltp}}</td>                                
                {{end}}
              </tr>
              {{end}}                                      
        </table>           
        <br>        
    {{ end }}
    
</body>
</html>